!!! 5
%html{lang:"en"}
	%head
		%title= @title
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		%meta{ content: "Group event attendance tracking", name: "description" }
		%meta{ content: "Gavin Kistner", name: "author" }
		%meta{ name: "viewport", content:"width=device-width, initial-scale=1" }
		%link{ href: "http://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License" }
		%link(type="text/css" rel="stylesheet" href="/common.css" )
		%link(rel="icon" href="/favicon.ico" sizes="any")
		%link(rel="icon" href="/images/yain.svg" type="image/svg+xml")
		%link(rel="apple-touch-icon" href="/images/yain-180.png")
		%link(rel="manifest" href="/manifest.webmanifest")
	%body{id:@action}
		%h1#title= @title
		#content!= yield