- if @user
	What event were you looking for?

	%ul
		- Event.all.select(&:has_upcoming?).each do |event|
			%li
				%a{href:"/#{event.id}"}= event.name

- else
	First, what name should I show for you?

	%form(method="post" action="/name")
		%label
			Name:
			%input(name="name")
		%input(type="submit")