%p What event were you looking for?

%ul#eventlist
	- Event.all.sort_by{ |e| [(!e.has_upcoming?).to_s, e.name] }.each do |event|
		%li
			%a{href:"/#{event.id}"}= event.name
			- unless event.has_upcoming?
				(no upcoming events)
