What name should I show for you?

%form(method="post" action="/name")
    %input{name:"name", value:@user}
    %input(type="submit")
Use a name that's clear to everyone.

%p This will write a cookie so you never have to write this again.