html, body { background:#eee; margin:0; padding:0; color:#000; font-family:Calibri, sans-serif; height:100%; min-height:100% }
h1,h2,h3,h4,h5,h6 { font-family:sans-serif; border-bottom:1px solid #aaa; margin:2em 0 0.5em 0 }
h1#title { background:#333; margin-top:0; color:#ccc; padding:0.1em 0.5em; font-size:105% }
#content { margin:1em 2em; text-align:center }
table { border-collapse:collapse; margin:1em auto }
th, td { vertical-align:top }
.dot { width:1.5em; height:1.5em }

#eventlist { text-align:left; margin:0 auto; display:inline-block }

#signups th, #signups td { vertical-align:middle; padding:0 0.5em; white-space:nowrap }
#signups tbody:not(:last-child) tr:last-child > * { border-bottom:1px solid rgba(0,0,0,0.2)}
#signups .dot { cursor:pointer }

#signups thead th {
    vertical-align:bottom;
    text-align:center;
    font-size:90%;
    width:0.5em;
    min-width:0.5em;
    padding:0;
}
#signups thead th span {
    opacity:0.5;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline-block;
}

#signups tbody td.signups { padding:0; width:1em }
#signups tr.notes td { font-size:85%; font-style:italic; text-align:left; padding-left:1em; white-space:normal; padding-bottom:0.4em }

table th { text-align:right; font-weight:normal }
#location > *:before { content:'Location: ' }

.exception { font-style:italic; color:#633; text-align:center }

.confirmed { color:#090; font-weight:bold }
.tentative { color:#660 }
.declined  { color:#600 }

#attendees .dot { width:1em; height:1em }
#attendees .confirmed { color:#060; font-weight:normal }
#attendees .tentative { color:#440 }
#attendees .declined  { color:#400 }

#attendeebox { display:none; position:fixed; width:calc(100% - 4em); left:2em; top:2em; background:#dde0ff; border:1px solid rgb(74, 101, 128); box-shadow:1px 1px 8px rgba(0, 0, 0, 0.6); text-align:left }
#showinfo { text-align:center }
#overview { display:none; font-size:85% }
#noattendees { display:none; padding:1em }

#editevent input[name="name"] {width:40em }
#editevent textarea { width:40em; height:4em }
#editevent textarea[name="description"] { height:6em }
#editevent form th { padding-right:0.5em }
#editevent td { text-align:left }
#editevent input.duration { width:4em }
#editevent .controls div { margin-bottom:0.5em }
#editevent .controls button.save { width:100%; font-weight:bold; background:#afa; border-radius:3px }
#timelist > div { border:1px solid rgba(0,0,0,0.2); background: rgba(0,0,0,0.1); padding:0.2em 0.5em; margin-bottom:0.5em; border-radius:3px }
#editevent label.notes { display:block; font-size:85%; margin-top:0.1em }
#editevent .notes input { width:90% }

td.signups { white-space:nowrap }